body {
    padding-top: 50pt;
    padding-left: 100pt;
    padding-right: 100pt;
}
#preface {
    font-size: 14pt;
    text-align: center;
    text-indent: 50px;
    padding-top: 20pt;
    padding-bottom: 20pt;
}
#carousel_promo {
    
}
